# Ignore vscode setting directory
.vscode

# I'will finish these later, because
# I want to move into more interesting chapters :D
chapter-09-methods/exercise-0908.cs
chapter-09-methods/exercise-0912.cs

#ignore vsc workspace file
foundation.code-workspace