# Ignore vscode setting directory
.vscode

# I'will finish these later, because
# I want to move into more interesting chapters :D
chapter-09-methods/prgm-0908.cs
chapter-09-methods/prgm-0912.cs

#ignore vsc workspace file
codementals.code-workspace